<a href="https://colab.research.google.com/github/SmrutiRanjan27/worldbank-global-education-analysis/blob/main/Smruti_Ranjan_WorldBank_Global_Education_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data.

Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone Project/EdStatsData.csv'
df_stats = pd.read_csv(file_path)

## **Preliminary Analysis**

In [4]:
# lets look at basic info of the EdstatsData.csv
df_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

We have data for years starting from 2020 to 2100. Lets look at the details !

In [5]:
df_stats[['Country Name','Indicator Name','2085']][~df_stats['2085'].isna()]

       Country Name                                     Indicator Name     2085
91309         World  Wittgenstein Projection: Mean years of schooli...     2.70
91310         World  Wittgenstein Projection: Mean years of schooli...     2.70
91311         World  Wittgenstein Projection: Mean years of schooli...     2.70
91312         World  Wittgenstein Projection: Mean years of schooli...    12.10
91313         World  Wittgenstein Projection: Mean Years of Schooli...     0.10
...             ...                                                ...      ...
886917     Zimbabwe  Wittgenstein Projection: Population in thousan...    91.70
886918     Zimbabwe  Wittgenstein Projection: Population in thousan...   205.47
886919     Zimbabwe  Wittgenstein Projection: Population in thousan...  3378.61
886920     Zimbabwe  Wittgenstein Projection: Population in thousan...  2924.73
886921     Zimbabwe  Wittgenstein Projection: Population in thousan...  6303.34

[51436 rows x 3 columns]

In [7]:
df_stats['Indicator Name'][~df_stats['2085'].isna()].unique().shape

(308,)

The columns with year values from 2020 to 2100 have non-null values which stores the information of preojected values of various Wittgenstein indicators

In [8]:
df_stats[df_stats['Country Name']=='Arab World']['Indicator Code']

0                 UIS.NERA.2
1               UIS.NERA.2.F
2             UIS.NERA.2.GPI
3               UIS.NERA.2.M
4                SE.PRM.TENR
                ...
3660        UIS.LP.AG15T24.M
3661       SE.ADT.1524.LT.ZS
3662    SE.ADT.1524.LT.FE.ZS
3663    SE.ADT.1524.LT.FM.ZS
3664    SE.ADT.1524.LT.MA.ZS
Name: Indicator Code, Length: 3665, dtype: object

In [10]:
# lets look at the number of unique countries
df_stats['Country Name'].unique().shape

(242,)

In [11]:
# lets look at the number of unique indicators in the dataset
df_stats['Indicator Name'].unique().shape

(3665,)

In [12]:
#lets see if multiplying these two values gives us the total number of entries
3665*242

886930

**We have 242 countries and each of these countries have 3665 indicators !**

In [13]:
df_stats.head()

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN
3   Arab World          ARB  ...  NaN         NaN
4   Arab World          ARB  ...  NaN         NaN

[5 rows x 70 columns]

In [14]:
# Just trying to get an idea of the dataset
df_stats[['Indicator Name','Indicator Code']][:10].values

array([['Adjusted net enrolment rate, lower secondary, both sexes (%)',
        'UIS.NERA.2'],
       ['Adjusted net enrolment rate, lower secondary, female (%)',
        'UIS.NERA.2.F'],
       ['Adjusted net enrolment rate, lower secondary, gender parity index (GPI)',
        'UIS.NERA.2.GPI'],
       ['Adjusted net enrolment rate, lower secondary, male (%)',
        'UIS.NERA.2.M'],
       ['Adjusted net enrolment rate, primary, both sexes (%)',
        'SE.PRM.TENR'],
       ['Adjusted net enrolment rate, primary, female (%)',
        'SE.PRM.TENR.FE'],
       ['Adjusted net enrolment rate, primary, gender parity index (GPI)',
        'UIS.NERA.1.GPI'],
       ['Adjusted net enrolment rate, primary, male (%)',
        'SE.PRM.TENR.MA'],
       ['Adjusted net enrolment rate, upper secondary, both sexes (%)',
        'UIS.NERA.3'],
       ['Adjusted net enrolment rate, upper secondary, female (%)',
        'UIS.NERA.3.F']], dtype=object)

**Lets look at the second dataset EdStatsCountry.csv**

In [15]:
file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone Project/EdStatsCountry.csv'
df_stats_country = pd.read_csv(file_path)

In [16]:
df_stats_country.head()

  Country Code   Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW        Aruba  ...                          NaN         NaN
1          AFG  Afghanistan  ...                         2000         NaN
2          AGO       Angola  ...                         2005         NaN
3          ALB      Albania  ...                         2006         NaN
4          AND      Andorra  ...                          NaN         NaN

[5 rows x 32 columns]

In [17]:
# What are the different feature columns
df_stats_country.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

In [18]:
df_stats_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

**We have economic stats for 241 of 242 countries in the EdStatsCountry dataset**

In [19]:
df_stats_country['Country Code'].unique()

array(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG', 'ARM',
       'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHI',
       'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM', 'CPV',
       'CRI', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA',
       'DNK', 'DOM', 'DZA', 'EAP', 'EAS', 'ECA', 'ECS', 'ECU', 'EGY',
       'EMU', 'ERI', 'ESP', 'EST', 'ETH', 'EUU', 'FIN', 'FJI', 'FRA',
       'FRO', 'FSM', 'GAB', 'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GMB',
       'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM', 'GUM', 'GUY', 'HIC',
       'HKG', 'HND', 'HPC', 'HRV', 'HTI', 'HUN', 'IDN', 'IMN', 'IND',
       'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN',
       'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAC',
       'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN', 'LDC', 'LIC', 'LIE',
       'LKA', 'LMC', 'LMY', 'LSO', 'LTU', 'LUX', 'LVA', 'MAC', 'MAF',
       'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEA', 'MEX', 'MHL', 'MIC',
       'MKD', 'MLI', 'MLT', 'MMR', 'MNA', 'MNE', 'MNG', 'MNP', 'MOZ',
       'MRT', 'MUS', 'MWI', 'MYS', 'NAC', 'NAM', 'NCL', 'NER', 'NGA',
       'NIC', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OED', 'OMN', 'PAK',
       'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRI', 'PRK', 'PRT',
       'PRY', 'PSE', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU',
       'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB',
       'SSA', 'SSD', 'SSF', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SXM', 'SYC', 'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKM',
       'TLS', 'TON', 'TTO', 'TUN', 'TUR', 'TUV', 'TZA', 'UGA', 'UKR',
       'UMC', 'URY', 'USA', 'UZB', 'VCT', 'VEN', 'VIR', 'VNM', 'VUT',
       'WLD', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

**Lets look at the third datset and get some info about EdStatsSeries !**

In [20]:
file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone Project/EdStatsSeries.csv'
df_series = pd.read_csv(file_path)

In [21]:
df_series.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [22]:
df_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB

**So we have got detailed information about the each of 3665 indicators in EdStatsData in this dataset named EdstatsSeries.csv**

In [23]:
df_series.head()

           Series Code       Topic  ... License Type Unnamed: 20
0  BAR.NOED.1519.FE.ZS  Attainment  ...          NaN         NaN
1     BAR.NOED.1519.ZS  Attainment  ...          NaN         NaN
2  BAR.NOED.15UP.FE.ZS  Attainment  ...          NaN         NaN
3     BAR.NOED.15UP.ZS  Attainment  ...          NaN         NaN
4  BAR.NOED.2024.FE.ZS  Attainment  ...          NaN         NaN

[5 rows x 21 columns]

In [24]:
# lets see if series code of EdStatsSeries is same as indicator code column of EdStatsData.csv
len(set(df_stats['Indicator Code'].unique())&set(df_series['Series Code']))

3612

**So we have detailed information of about 3612 of 3665 indicators in this dataset**

**I am curious about the periodicity and base period column, since we see a lot of NA values of a lot years for most of the indicators in EdStatsData dataset. This column might give us a clue about that !**

In [25]:
df_series[~df_series['Base Period'].isna()]['Base Period'].unique()

array(['2010', '2011', 'Projections (2010 to 2100)', '14'], dtype=object)

In [26]:
df_series[df_series['Base Period']=='Projections (2010 to 2100)'].shape[0]

308

**The number of indicators pertaining to only the projections data from 2010 to 2100 are 308 same as what we observed in EdStatsData.csv where we tried to see number unique indicators value for the years 2020-2100. Hence there are 308 rows for each country with projection data.**

In [27]:
df_series[~df_series['Periodicity'].isna()]['Periodicity'].unique()

array(['Annual'], dtype=object)

In [28]:
# Lets look at the series codes that are collected annually
annual_indicators = df_series[df_series['Periodicity'] == 'Annual']['Series Code'].values

In [29]:
for col in annual_indicators:
  print(df_stats[(df_stats['Country Name']=='World') & (df_stats['Indicator Code']==col)].values)

[['World' 'WLD' 'Personal computers (per 100 people)' 'IT.CMP.PCMP.P2'
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  1.99928817872655 2.2975139842551 2.4542773820406403 2.73917332505761
  3.0358366097334097 3.2701330051088 3.6227011073228996 4.14389535954102
  4.73463843841276 5.27217509808321 5.9537347095456505 6.80809200022134
  7.925872149644491 8.70785994978991 6.7591409852288695 7.9075438913605
  11.3897802152671 12.6751023333356 15.087313666953099 nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Internet users (per 100 people)' 'IT.NET.USER.P2' nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan 0.049687441232573 nan nan 0.25354299769265803 0.44997439569736297
  0.7823278288278471 1.33413785803189 2.0526629660289197 3.1563664453301
  4.653865215057491 6.770066508052451 8.095458176900848
  10.579787734322801 12.2752833522124 14.1727766821155 15.7883095369873
  17.5810761119666 20.512623069823302 23.067025362369105
  25.487004862158198 28.8540458859406 31.275520996352302 34.3409696471734
  36.8852987493858 39.9386983401633 43.1984562882465 45.910282039433795
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan]]
[['World' 'WLD' 'GDP at market prices (current US$)' 'NY.GDP.MKTP.CD'
  2957799684034.88 3266907090008.42 3767673874129.39 4591345929540.29
  5296031606150.48 5897205371168.41 6416473081055.61 7257626963722.61
  8542924735220.41 9925897437975.24 11172203734232.9 11464351513520.9
  11363646516060.8 11623710624558.5 12065068062766.6 12689154578406.4
  15022583231149.5 17091694967928.9 19140813953244.6 20092825106288.4
  22595007714784.7 23927631710502.6 25409951568921.6 25859044482204.5
  27767511728269.1 30872586998056.7 31552679853240.2 31435387611565.4
  31338780339102.7 32510834041730.3 33566568243507.0 33354548715888.5
  34635964364193.1 38894058718266.0 43804823746956.6 47428894542015.9
  51363239608528.7 57858970551966.6 63461809858683.9 60168346976208.9
  65954532001568.7 73279862292629.0 74889946508917.8 76990857251851.0
  79049230590610.9 74757745150689.1 75845109381590.5 nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP at market prices (constant 2005 US$)'
  'NY.GDP.MKTP.KD' 19039286948196.1 19864566419298.1 21009161433401.4
  22383671023495.4 22829911729819.1 23006343161670.4 24241276811572.6
  25213826643314.4 26221014860337.7 27308727186242.9 27843189307931.6
  28379257951893.0 28480670615135.4 29164360664954.1 30485211655932.4
  31664646793713.8 32712843955205.1 33882440955342.1 35457378555162.8
  36787413390635.6 37894489233174.5 38435746352308.2 39122261882095.4
  39759329049239.1 40955812339515.2 42203494065155.5 43629760219437.7
  45245804182171.1 46387183328695.9 47897864354597.3 50001695575574.8
  50966731563039.4 52063985550937.2 53579443712850.8 55960263238215.8
  58111628005212.7 60620069498682.7 63196616493630.0 64345881464176.9
  63227488521442.7 65954532001568.7 68047856287041.0 69709967540347.5
  71545171013415.4 73558181350396.4 75636751196801.1 77526759564159.6 nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP, PPP (current international $)' 'NY.GDP.MKTP.PP.CD'
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan 28793399313678.7 30237238147707.7 31619278932469.2
  33213789459855.1 35033088182395.0 36979138983097.7 39171488435884.3
  41419472294564.9 42978543462072.1 45159302062656.5 48492157855651.5
  50871387327907.1 53258330903068.5 56267311077872.8 60932508420430.5
  65725354903498.9 72007125262298.2 78040514072010.0 82637903427395.1
  83434795812867.0 89024190559507.0 95063136211954.0 99994730175215.4
  105457955976107.0 110805995944461.0 115619758353829.0 120603020118353.0
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan]]
[['World' 'WLD' 'GDP, PPP (constant 2011 international $)'
  'NY.GDP.MKTP.PP.KD' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 47143438466903.2 47812717689115.0
  48664457634800.1 49596000966258.9 51065807538866.0 52754475204801.0
  54780314314471.5 56955214645836.2 58351373560296.6 60406324400195.4
  63272930868729.8 64778339442512.2 66547530649452.9 69063279399840.2
  72788290554396.4 76240446997338.9 80318399991191.3 84691447699464.0
  87110219802678.9 86775163961907.7 91346761245407.2 95063136211954.1
  98129201691752.4 101486626046248.0 105055834420083.0 108596362244246.0
  112123103344804.0 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP per capita (current US$)' 'NY.GDP.PCAP.CD'
  802.710345348177 868.350572907318 981.4398359488499 1172.8002358603
  1326.85037428407 1450.27464849164 1550.19059559315 1723.17264291157
  1993.39789602258 2275.9058659298603 2517.57167391297 2538.73985297629
  2472.07056834237 2484.48148164862 2534.68755770065 2620.0657081155605
  3047.90532003368 3406.89266211599 3748.90935702484 3867.9237936434706
  4275.40087467265 4454.07356360765 4657.1286206307 4666.79157819411
  4936.58658460013 5406.9875776665995 5447.096687185661 5350.341673229871
  5260.62299002308 5384.31132759735 5486.45883484177 5381.81611869168
  5518.071250410339 6119.01673713562 6805.851791494 7277.69574631337
  7784.17103186072 8660.974034874649 9382.6428319507 8787.27350292066
  9516.34669881109 10449.379182385 10551.7428200741 10718.6908868307
  10874.8632449521 10163.9027746815 10191.3098178162 nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP per capita (constant 2005 US$)' 'NY.GDP.PCAP.KD'
  5167.02759955711 5280.04230163416 5472.66792176512 5717.620727916539
  5719.731145184979 5657.85217604842 5856.5817800155 5986.49896337312
  6118.38655661822 6261.60936908964 6274.2522765011 6284.48570120978
  6195.74249294198 6233.66464776839 6404.47996448718 6538.1389052492705
  6637.051004501031 6753.79707407222 6944.66278005325 7081.67770373443
  7170.350834037371 7154.72570777668 7170.3169138566 7175.381212918629
  7281.239879726691 7391.46894812494 7532.023379928481 7700.89157626943
  7786.693688167321 7932.6483375095095 8172.78199122268 8223.57333566131
  8294.63787494282 8429.398310425691 8694.4136566409 8916.90080548326
  9187.056590228709 9459.97222767138 9513.35023110432 9234.045182600441
  9516.34669881109 9703.31862868763 9821.90111985019 9960.5407695315
  10119.4553919916 10283.4105524112 10417.2732076179 nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP per capita, PPP (current international $)'
  'NY.GDP.PCAP.PP.CD' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 5448.25326746624 5628.5922777346495
  5795.17235523629 5994.10519742259 6228.28126735811 6476.48171262751
  6762.36965873202 7049.64517820255 7214.50903219025 7479.098854561741
  7926.04790449928 8208.1893727173 8484.91647326215 8852.26766208959
  9466.939622653359 10085.1841567252 10912.780868698901 11681.9718636175
  12217.7721367709 12185.2171002454 12844.986329751298 13555.5761906138
  14088.9228175097 14681.8891490875 15243.665796791001 15719.4144950699
  16205.4317412427 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'GDP per capita, PPP (constant 2011 international $)'
  'NY.GDP.PCAP.PP.KD' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 8920.42616673187 8900.22733716048
  8919.20780894726 8950.6091294566 9078.6233528982 9239.355034180791
  9456.99921570066 9693.84765324975 9795.0390515903 10004.2483163924
  10341.9666869944 10452.1009809893 10602.1016710069 10865.3963226169
  11308.9444334048 11698.665595463799 12172.3662156431 12677.5575594141
  12878.9910221795 12673.0604597725 13180.101858719 13555.5761906138
  13826.0760977744 14128.9993716878 14452.611668283998 14764.528615861102
  15065.985048197099 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'GNI (current US$)' 'NY.GNP.MKTP.CD' 2971635832316.63
  3283826923738.29 3797064257144.32 4635793934352.84 5337882818229.6
  5946105230075.42 6453090771528.13 7288789115389.84 8599434209870.77
  9959327421420.84 11171126265227.5 11436837338459.5 11353162762188.9
  11583601953190.7 12040024247977.7 12646511489819.6 14969047126654.0
  17088448695398.4 19214867745405.7 20056706772270.6 22470512617949.5
  23786133172589.1 25262156086615.1 25690822636828.2 27606065007792.5
  30662169630043.7 31366459058488.2 31294290194131.5 31287258761209.4
  32440809764748.1 33570994755802.1 33383945859303.3 34599474614107.8
  38832115193852.6 43801476881941.8 47428047291863.1 51527183648926.6
  57801354499210.5 63186131008997.5 59998612003814.8 65915375880480.9
  73270713522084.2 75073386321254.5 77031312208161.3 79290940953019.3
  74952577398270.1 75946855652262.6 nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'GNI, PPP (current international $)' 'NY.GNP.MKTP.PP.CD'
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan 28412612007740.0 29885784708635.7 31247309627768.6
  32819221588773.6 34620641362606.4 36510359357102.1 38717143486565.8
  41015813963653.6 42617192666212.4 44738222598203.5 48151906746712.2
  50571486590955.1 52860325613203.1 55821664421946.5 60512304322103.9
  65261775111801.0 71775742091639.6 77659472444201.7 82085314162578.3
  82861247122610.9 88651819163463.1 94698275097636.0 99856760095070.4
  105099994160630.0 110744333536714.0 115471800141582.0 120273811614774.0
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan]]
[['World' 'WLD' 'GNI per capita, Atlas method (current US$)'
  'NY.GNP.PCAP.CD' 806.5272430903191 866.155502318635 972.6504298611051
  1175.6964768051 1377.7666819138 1545.7464971381198 1628.0639720704098
  1724.1226328740197 1932.09808145563 2280.51220165712 2608.43396545353
  2708.8906631873397 2569.6539261043804 2432.9510242689303
  2480.9754865116697 2564.09097901105 2828.71728656997 3297.8674396608803
  3897.67104232062 4053.13052648349 4206.56805954333 4352.974017102039
  4662.44442199334 4744.060064964699 4935.55292545634 5230.817159887511
  5481.7730646194605 5526.8045557898095 5292.3408899279 5296.011004399629
  5478.5977770209 5452.22690098192 5409.2768425022105 5810.498835637671
  6626.18129773501 7341.83259292938 7826.91781909351 8341.864198216259
  8933.740831848208 8958.4533019665 9387.1993133982 9872.3242089011
  10456.6534210443 10826.358497495401 10925.8525569063 10581.953208966801
  10316.3943052589 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'GNI per capita, PPP (current international $)'
  'NY.GNP.PCAP.PP.CD' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 5376.20113978277 5563.17002906629
  5726.997927976229 5922.897383883461 6154.9553079652005 6394.38021544552
  6683.933821275949 6980.94203331668 7153.85158848652 7409.361396354341
  7870.433827744029 8159.7998521789295 8421.50777112745 8782.15619940542
  9401.65350640485 10014.0504583607 10877.7144245254 11624.9333160393
  12136.073431422099 12101.4533031361 12791.258174946299 13503.548634705
  14069.483294978101 14632.053594758701 15235.182852091799
  15699.2984137066 16161.1959838948 nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Prevalence of HIV, total (% of population ages 15-49)'
  'SH.DYN.AIDS.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 0.3 0.3 0.4 0.5 0.5 0.6 0.6 0.7 0.7 0.7 0.8
  0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Mortality rate, under-5 (per 1,000)' 'SH.DYN.MORT' nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan 93.4 92.1 90.9 89.7 88.7 87.3 85.6 84.0 82.1 79.9 77.5 74.8 72.0
  69.2 66.7 63.7 61.1 58.5 56.2 53.7 51.7 49.3 47.3 45.5 43.7 42.2 40.8
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan]]
[['World' 'WLD'
  'Labor force with advanced education, female (% of female labor force)'
  'SL.TLF.ADVN.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Labor force with advanced education, male (% of male labor force)'
  'SL.TLF.ADVN.MA.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Labor force with advanced education (% of total)'
  'SL.TLF.ADVN.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Labor force with basic education, female (% of female labor force)'
  'SL.TLF.BASC.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Labor force with basic education, male (% of male labor force)'
  'SL.TLF.BASC.MA.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Labor force with basic education (% of total)'
  'SL.TLF.BASC.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Labor force with intermediate education, female (% of female labor force)'
  'SL.TLF.INTM.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Labor force with intermediate education, male (% of male labor force)'
  'SL.TLF.INTM.MA.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Labor force with intermediate education (% of total)'
  'SL.TLF.INTM.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Labor force, female (% of total labor force)'
  'SL.TLF.TOTL.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan 39.2361817962384 39.3044399789511
  39.35502331379929 39.354282359698 39.4435921956617 39.4549862869491
  39.4954619836333 39.5459771062803 39.5626278160279 39.625098205788206
  39.6463900189738 39.6823328883394 39.7340997883541 39.7731245060955
  39.805008372861295 39.8467092331152 39.7643811153094 39.662599591321
  39.5513264750249 39.4737776816038 39.3445141529546 39.293891278343104
  39.247259511353604 39.2597387668535 39.269174468194706 39.2757541713106
  39.3496894623879 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'Labor force, total' 'SL.TLF.TOTL.IN' nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  2327104347.0 2369073076.0 2411807894.0 2452264710.0 2498014070.0
  2539619031.0 2584772516.0 2629453783.0 2672677323.0 2722338268.0
  2768372820.0 2811375699.0 2858788845.0 2906640941.0 2957832339.0
  3011094206.0 3049556752.0 3086307463.0 3122461133.0 3155465254.0
  3181295933.0 3215003597.0 3251748370.0 3292714229.0 3331073408.0
  3371099761.0 3415377095.0 nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Share of youth not in education, employment, or training, female (% of female youth population)'
  'SL.UEM.NEET.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Share of youth not in education, employment, or training, male (% of male youth population)'
  'SL.UEM.NEET.MA.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD'
  'Share of youth not in education, employment, or training, total (% of youth population)'
  'SL.UEM.NEET.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]]
[['World' 'WLD' 'Unemployment, female (% of female labor force)'
  'SL.UEM.TOTL.FE.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan 6.463926086449161 6.23796387412913
  6.41771625085302 6.5815212582894596 6.54134799608155 6.66954697434824
  6.7511406937028005 6.96544879621241 6.9991986213179604
  6.7519989404860405 6.803431428561719 6.90784000898057 6.958877575756249
  6.817142993227379 6.72787958586195 6.44333758409296 5.9612047919688
  6.05127835045502 6.510685427323179 6.547122992618131 6.5055607241709295
  6.450733317462451 6.38125247303687 6.2479676967274 6.18323005186045
  6.20051160891621 nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan]]
[['World' 'WLD' 'Unemployment, male (% of male labor force)'
  'SL.UEM.TOTL.MA.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan 5.791649180748331 5.69218320147763
  5.8466661595587395 5.9010474787897405 5.875442096642409
  5.96952669590116 6.005038974962009 6.112510625066639 6.23704430714118
  6.10202384744471 6.07730154813906 6.245071785336361 6.20905150056967
  6.04638936666249 5.83284651030709 5.58299656396179 5.26261274620052
  5.407592527433049 5.9954814951693205 5.75029339982463 5.70991421302814
  5.66523801854149 5.62445600184582 5.44934069742851 5.406734806018879
  5.4092187701501 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan]]
[['World' 'WLD' 'Unemployment, total (% of total labor force)'
  'SL.UEM.TOTL.ZS' nan nan nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan 6.0671353922728 5.931757312363451
  6.06911281092221 6.15756149013896 6.1577316017983605 6.251030736537889
  6.31658955346791 6.4461311847697695 6.5580313156914904 6.36851085455887

**Lets look at the fourth data in EdStatsCountry-Series.csv**

In [30]:
file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone Project/EdStatsCountry-Series.csv'
df_country_series = pd.read_csv(file_path)

In [31]:
df_country_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

In [32]:
df_country_series.head()

  CountryCode  ... Unnamed: 3
0         ABW  ...        NaN
1         ABW  ...        NaN
2         AFG  ...        NaN
3         AFG  ...        NaN
4         AFG  ...        NaN

[5 rows x 4 columns]

**Lets look at the fourth data in EdStatsSeries.csv**

In [33]:
file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone Project/EdStatsFootNote.csv'
df_footnote = pd.read_csv(file_path)

In [34]:
df_footnote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB

In [35]:
df_footnote.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

### Preliminary Observations from all datasets :


1.   df_stats_country contains a list of all the 241 countries and their economic stats 
2.   df_stats_data contains data for combination of each country and 3665 indicators from 1970 to 2100
3.   df_series contains detailed information about most of the indicators in df_stats_data
4.   df_country_series contains some basic information about all the indicators estimated for certain countries
5.   df_footnote contains information about uncertaininty and origin of data series used for the indicators for each year